{% extends 'base.html' %} {% load static %}

{% block title %}チャプター一覧{% endblock title %} 

{% block meta %}
  <meta http-equiv="refresh" content="30; URL=" />
{% endblock meta %}

{% block main %}
  <style>
    .main-container {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
      gap: 20px;
    }

    .thsize {
      padding: 1em 2em;
    }

    .trtop {
      
    }

    th, td {
      border: solid 1px #948080;   
    }
    table {
      width: auto;
      border-spacing: 0;
      border: 3px solid #948080;
      border-radius: 10px;
    }
  </style>

  <div class="main-container">
    <h2>チャプター一覧</h2>
    <input
      type="text"
      id="searchInput"
      placeholder="キーワードで検索"
      style="width: 50%"
    />
    <table id="Table">
      <tr class="trtop">
        <th class="thsize">タイトル</th>
        <th class="thsize">投稿者</th>
        <th class="thsize">投稿日時</th>
        {% if user.is_staff %}
        <th class="thsize">ステータス</th>
        {% endif %}
      </tr>
      {% for chapter in chapter_list %}
      <tr height="40">
        <td align="center" class="thsize"><a href="{% url 'video' chapter.id %}">{{ chapter.video_title }}</a></td>
        <td align="center" class="thsize">{{ chapter.user.username }}</td>
        <td align="center" class="thsize">{{ chapter.created_at }}</td>
        {% if user.is_staff %}
        <td align="center" class="thsize">{{ chapter.status }}</td>
        {% endif %}
      </tr>
      {% empty %}
      <tr height="40">
        <td>まだチャプターがありません</td>
        <td></td>
        <td></td>
        {% if user.is_staff %}
          <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <script>
    document
      .getElementById("searchInput")
      .addEventListener("keyup", function () {
        let searchValue = this.value.toLowerCase();
        let tableRows = document
          .getElementById("Table")
          .getElementsByTagName("tr");

        for (let i = 1; i < tableRows.length; i++) {
          let rowText = tableRows[i].textContent.toLowerCase();
          if (rowText.indexOf(searchValue) > -1) {
            tableRows[i].style.display = "";
          } else {
            tableRows[i].style.display = "none";
          }
        }
      });
  </script>
{% endblock main %}
