{% extends 'base.html' %} {% load static %}
{% block title %}チャプター一覧{% endblock title %} 

{% block meta %}
  <meta http-equiv="refresh" content="30; URL=" />
{% endblock meta %}

{% block main %}
  <style>
    .main-container {
      grid-column: 1 / 4;
      gap: 20px;
    }

    #tile-view, #table-view {
      background-color: #948080;
      color: #fff;
      border: 0;
      padding: 0.5em;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 5px;
    }

    #table-container {
      display: none;
    }

    th, td {
      padding: 1em 2em;
      border: solid 1px #948080;   
    }

    table {
      width: auto;
      border-spacing: 0;
      border: 3px solid #948080;
      border-radius: 10px;
    }

    #tile-container {
      display:flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 3%;
    }

    .tile-item {
      width: 17%;
      height: auto;
      line-height: 1.5em;
      border: 2px solid #948080;
      border-radius: 10px;
      margin-bottom: 2%;
    }

    .video-info-wrapper {
      margin:5px
    }

    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
      margin-bottom: 5px;
    }
  </style>

  <div class="main-container">
    <h2>チャプター一覧</h2>
      <input
        type="text"
        id="searchInput"
        placeholder="キーワードで検索"
        style="width: 50%"
      />
      <div class="view-button">
        <button type="button" id="tile-view">サムネイル表示</button>
        <button type="button" id="table-view">テーブル表示</button>
      </div>

    <!-- テーブル表示用 -->
    <div id="table-container">
      <table id="Table">
        <tr class="trtop">
          <th>タイトル</th>
          <th>投稿者</th>
          <th>投稿日時</th>
          {% if user.is_staff %}
          <th>ステータス</th>
          {% endif %}
        </tr>
        {% for video in videos %}
        <tr height="40">
          <td align="center"><a href="{% url 'video' video.id %}">{{ video.video_title }}</a></td>
          <td align="center">{{ video.user.username }}</td>
          <td align="center">{{ video.uploaded_at }}</td>
          {% if user.is_staff %}
          <td align="center">{{ video.status }}</td>
          {% endif %}
        </tr>
        {% empty %}
        <tr height="40">
          <td>まだチャプターがありません</td>
          <td></td>
          <td></td>
          {% if user.is_staff %}
            <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>

    <!-- サムネイル表示用 -->
    <div id="tile-container">
      {% for video in videos %}
      <div class="tile-item">
        <img src="{{ video.thumbnail_path }}">
        <div class="video-info-wrapper">
          <h3><a href="{% url 'video' video.id %}">{{ video.video_title }}</a></h3>
          <p>投稿者：{{ video.user.username }}</p>
          <p>投稿日時：{{ video.uploaded_at }}</p>
          {% if user.is_staff %}
          <p>ステータス：{{ video.status }}</p>
          {% endif %}
        </div>
      </div>
      {% empty %}
        <p>まだチャプターがありません</p>
      {% endfor %}
    </div>
  
  </div>

  <script>
    // サムネイル表示とテーブル表示の切り替え
    document.getElementById('tile-view').addEventListener('click', function(event) {
      document.getElementById('table-container').style.display = 'none';
      document.getElementById('tile-container').style.display = 'flex';
      document.cookie = 'view_style=tile';
      });

    document.getElementById('table-view').addEventListener('click', function(event) {
        document.getElementById('tile-container').style.display = 'none';
        document.getElementById('table-container').style.display = 'block';
        document.cookie = 'view_style=table';
    });

    // cookieからview_styleの値を取得し、それに基づいて表示を切り替え
    function getCookie(key) {
    const cookies = document.cookie.split(';');
    for (let cookie of cookies) {
        var cookiesArray = cookie.split('='); 
        if (cookiesArray[0].trim() == key.trim()) { 
            return cookiesArray[1];  // (key[0],value[1])
        }
    }
    return '';
    }

    let view_style = getCookie('view_style');
    if (view_style == 'table') {
      document.getElementById('tile-container').style.display = 'none';
      document.getElementById('table-container').style.display = 'block';
    } else if (view_style == 'tile') {
      document.getElementById('table-container').style.display = 'none';
      document.getElementById('tile-container').style.display = 'flex';
    }   

    

    // キーワード検索
    document.getElementById("searchInput").addEventListener("keyup", function () {
      let element = document.getElementById('table-container');
      let style = window.getComputedStyle(element);
      let value = style.getPropertyValue('display');
      if (value == 'block') {
      let searchValue = this.value.toLowerCase();
      let tableRows = document
        .getElementById("Table")
        .getElementsByTagName("tr");

      for (let i = 1; i < tableRows.length; i++) {
        let rowText = tableRows[i].textContent.toLowerCase();
        if (rowText.indexOf(searchValue) > -1) {
          tableRows[i].style.display = "";
        } else {
          tableRows[i].style.display = "none";
        }}
      } else {
      let searchValue = this.value.toLowerCase();
      let tileItems = document
        .getElementsByClassName("tile-item")

      for (let i = 0; i < tileItems.length; i++) {
        let tile = tileItems[i];
        let tileText = tile.textContent || tile.innerText;
        if (tileText.toLowerCase().indexOf(searchValue) > -1) {
          tileItems[i].style.display = "";
        } else {
          tileItems[i].style.display = "none";
        }
      }
    }});
  </script>
{% endblock main %}
