{% extends 'base.html' %} {% load static %}
{% load markdown_extras %}

{% block title %}要約記事{% endblock %}

{% block meta %} 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
  <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
{% endblock meta %}

{% block main %}
  <aside>
    <li>
      <a href="{% url 'video' chapter.id %}">動画閲覧</a>
    </li>
    {% if chapter.transcription_path %}
    <li>
      <a href="{% url 'download_transcription' chapter.id %}">文字起こしダウンロード</a>
    </li>
    {% endif %}
  </aside>
  
  <div>
    {{ summary.summary_text | markdown | safe }}
  </div>
  {% if user == chapter.user %}
  <div>
      <a href="{% url 'summary_edit' chapter.id %}">編集</a>
  </div>
  {% endif %}

  <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
  <script>
    $(function () {
        editormd.markdownToHTML("content", {
            emoji           : true,
            taskList        : true,
            tex             : true, 
            flowChart       : true,
            sequenceDiagram : true,
        });
        $(".reference-link").each(function (i,obj) {
          console.log(obj)
        })
    })
  </script>

{% endblock main %}