{% extends 'base.html' %} {% load static %}

{% block title %}要約編集{% endblock %}

{% block meta %} 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock meta %}

{% block main %}
  <style>
      .edit-wrapper {
        margin-top: 20px;
        padding:0 30px;
        grid-column: 1 / 4;
        height: 100%;
        margin-top: 30px;
      }

  </style>
  <div class="title-menu-wrapper">
    <h1 class="video-title">{{ video.video_title }}</h1>
    <a href="{% url 'summary' video.id %}" class="menu-button">要約閲覧</a>
    <a href="{% url 'video' video.id %}" class="menu-button">動画閲覧</a>
    {% if video.transcription_path %}
      <a href="{% url 'download_transcription' video.id %}" class="menu-button">文字起こしダウンロード</a>
    {% endif %}
  </div>

  <div class="edit-wrapper">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form.summary_text }}
      <button type="submit" class="submit-button">保存</button>
    </form>
  </div>

{% endblock main %}