{% extends 'base.html' %} {% load static %}
{% load markdown_extras %}

{% block title %}要約記事{% endblock %}

{% block meta %} 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
  <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
{% endblock meta %}

{% block main %}  
  <style>
    main {
      grid-template-columns: 1fr minmax(350px, 800px) 1fr;
    }

    .title-menu-wrapper {
      grid-column: 1 / 4;
      justify-content: center;
    }

   .summary-wrapper {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      padding: 10px;
      margin-top: 30px;
    }

    .editormd-preview-container, .editormd-html-preview {
      width: auto;
      margin: 10px
    }
  </style>

  <div class="title-menu-wrapper">
    <h1 class="video-title">{{ video.video_title }}</h1>
    {% if user == video.user %}
      <a href="{% url 'summary_edit' video.id %}" class="menu-button">要約編集</a>
    {% endif %} 
    <a href="{% url 'video' video.id %}" class="menu-button">動画閲覧</a>
    {% if video.transcription_path %}
      <a href="{% url 'download_transcription' video.id %}" class="menu-button">文字起こしダウンロード</a>
    {% endif %}
  </div>

  <div class="summary-wrapper">
    <div class="card-text pl-0 pr-0" id="content">
      {{ summary.summary_text | markdown | safe }}
    </div>
  </div>

  <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
  <script>
    $(function () {
        editormd.markdownToHTML("content", {
            emoji           : true,
            taskList        : true,
            tex             : true, 
            flowChart       : true,
            sequenceDiagram : true,
        });
        $(".reference-link").each(function (i,obj) {
          console.log(obj)
        })
    })
  </script>

{% endblock main %}