{% extends 'base.html' %} {% load static %} 

{% block title %}動画アップロード{% endblock %}

{% block main %}
  <style>
    .submit-button {
      margin-top: 40px;
      width: 100%;
      font-size: 1.2em;
    }

    #id_video_path {
      border: 0;
      padding: 3px;
    }

    #uploading {
      display: none;
      margin-top: 20px;
      font-size: 1.5em;
      color: red;
    }

  </style>
  <div class="main-container">
    <h2>動画アップロード</h2>

    <form
      action="{% url 'upload' %}"
      method="post"
      enctype="multipart/form-data"
      name="form1"
      id="myform"
    >
      {% csrf_token %} 
      {{ form.as_p }}
      <button class="submit-button" id="upload-button">アップロード</button>
    </form>
    <div id="uploading">
      <p>アップロード中</p>
      <p>お待ちください</p>
    </div>
  </div>

  <script>
    document.getElementById('upload-button').addEventListener('click', function(event) {
      setTimeout( ()=>{
        document.getElementById('uploading').style.display = 'block'
      },1000);
    });
</script>
{% endblock main %}