{% extends 'base.html' %}

{% block title %}動画閲覧{% endblock %}

{% block main %}
  <style>
   .video-wrapper {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      margin-top: 30px;
    }

    video {
      width: 100%; 
      height: auto;
    }
    
    .video-info {
      margin-top: 1rem;
      font-weight: bold;
    }
  
    .chapter-wrapper {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      margin-top: 30px;
      margin-left: 30px;
    }

    .chapter_top {
      display: flex;
      gap:0 10px;
      justify-content: space-between;
    }

    h2 {
      margin:0.2rem;
    }

    .chapter-text {
      overflow: auto;
      width: 100%;
      height: 60vh;
      line-height: 2em;
    }

    #id_chapter_data {
      resize: none;
      width: 100%;
    }

  </style>

  <div class="title-menu-wrapper">
    <h1 class="video-title">{{ video.video_title }}</h1>
    {% if user == video.user %}
      <a href="{% url 'chapter_edit' video.id %}" class="menu-button">チャプター編集</a>
    {% endif %}
    <a href="{% url 'summary' video.id %}" class="menu-button">要約</a>
    {% if video.transcription_path %}
      <a href="{% url 'download_transcription' video.id %}" class="menu-button">文字起こしダウンロード</a>
    {% endif %}
    {% if user == video.user %}
      <a href="{% url 'video_delete' video.id %}" class="delete-menu-button" id="video-delete-button">動画削除</a>
    {% endif %}
  </div>

  <div class="video-wrapper">
    <video
      controls
      preload="auto"
      playsinline
      src="{{ video.video_path.url }}"
      id="videoPlayer"
      poster="{{ video.thumbnail_path }}"
    >動画は再生できません。</video>
    <div class="video-info">
      <p>投稿日時：{{ video.uploaded_at }}</p>
      <p>投稿者：{{ video.user.username }}</p>
    </div>
  </div>

  <div class="chapter-wrapper">
    <div class="chapter_top">
      <h2>チャプター</h2>    
    </div>
    <div class="chapter-text">
      {% for line in chapter_lines %}
        <p><a href="#" class="chapter-link">{{ line }}</a></p>
      {% endfor %}
    </div>
  </div>

    <script>
    // 動画ジャンプ機能
      document.addEventListener("DOMContentLoaded", function () {
        // チャプターリンクにイベントリスナーを設定
        var chapterLinks = document.querySelectorAll(".chapter-link");
        chapterLinks.forEach(function (link) {
          link.addEventListener("click", function (event) {
            event.preventDefault();
            var timeString = this.textContent.match(/\[(\d{2}:\d{2}:\d{2})\]/)[1];
            jumpTo(timeString);
          });
        });
      });

      function jumpTo(timeString) {
        var video = document.getElementById("videoPlayer");
        var parts = timeString.split(":");
        var hours = parseInt(parts[0]);
        var minutes = parseInt(parts[1]);
        var seconds = parseInt(parts[2]);

        // 総秒数を計算
        var totalSeconds = hours * 3600 + minutes * 60 + seconds;

        // 動画を指定された時間にジャンプ
        video.currentTime = totalSeconds;
        video.play();
      }

      // 動画削除の確認モーダル
      document.getElementById('video-delete-button').addEventListener('click', function(event) {
          event.preventDefault();
          var result = confirm('動画をもとに生成された文字起こし、チャプター、要約も共に削除されます。本当に削除しますか？');
          if (result) {
            window.location.href = this.href;
          }
    });
    </script>
{% endblock %}
