Django==3.2.23
uWSGI==2.0.23
mysqlclient == 2.1.0

# chatGPT関係
typing-extensions==4.9.0
langchain==0.1.0
openai==1.7.1
langchain_openai==0.0.2

# celery関係e
celery==5.3.6
django-celery-results==2.5.1
django-redis==5.4.0

# AWS関係 
boto3==1.34.10
django-storages==1.14.2
sagemaker==2.203.0

# 要約のマークダウン編集関係
django-mdeditor==0.1.20
Markdown==3.5.1

# サムネイル生成関係
opencv-python==4.8.1.78