/* 共通 */
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100svh;
  display: grid;
  grid-template-rows: 50px 40px 8fr 0.5fr;
  grid-template-columns: 0.5fr 2fr minmax(350px, 450px) 2fr 0.5fr;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  background-color: #948080;
}

.navbar {
  color: #fbf3e4;
  height: 100%;
  width: auto;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px
}

.navbar li a {
  text-decoration: none;
  color: #f4f4f4;
}

.message {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  margin-top :0;
  background-color: yellow;
  font-weight:bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  grid-row: 3 / 4;
  grid-column: 2 / 5;
  display:grid;
  grid-template-rows: 70px auto 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3em;
}

/* 動画閲覧関係 */
.title-menu-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: flex;
  gap:0 10px;
  gap:0 10px;
  margin-bottom: 20px;
}

.video-title {
  display: block;
  width:auto;
}

.menu-button {
  display: block;
  width: auto;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.7rem 2rem;
  font-weight: bold;
  border: 2px solid rgb(255, 136, 0);
  background: rgb(255, 136, 0);
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}

.menu-button:hover  {
  color: orange;
  background: #fff;
  border: 2px solid rgb(255, 136, 0);
}

.submit-button {
  display: block;
  float: right;
  width: auto;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  padding: 0.7rem 2rem;
  margin-top: 10px;
  font-weight: bold;
  border: 2px solid rgb(255, 136, 0);
  background: rgb(255, 136, 0);
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.submit-button:hover{
  color: orange;
  background: #fff;
  border: 2px solid rgb(255, 136, 0);
}


table tr td a {
  text-decoration: none;
}


p {
  user-select: none;
}

.errorlist {
  color: #f64d4d;
}


input {
  width:100%;
  height:auto;
  padding:10px;
  font-size: 1.2em;
  border: 1.5px solid rgb(7, 7, 7);
  border-radius: 10px;
}


.signup {
  display: block;
  text-align: center;
  text-decoration: none;
}


.admin {
  margin-top: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
}